.post-body {
  font-family: system-ui;
  font-size: 1.1rem;
  line-height: 1.75;
  margin-inline: auto;
}

.post-body img,
svg,
video {
  max-width: 90%;
  display: block;
}

.post-body a {
  color: deepskyblue;
  text-decoration: none;
}
