<footer class="py-4 px-6 bg-text-100 border-0 border-t border-accent-300 border-solid">
  <div class="flex justify-between items-center text-sm text-accent-100">
    <div>
      © 2019 - {{ currentYear }} Romi Admin
    </div>
    <div class="items-center gap-2 hidden md:flex">
      <span>Made with ❤️ by</span>
      <a href="https://github.com/biyuehu" target="_blank"
        class="text-primary-100 hover:text-primary-200 transition-colors">
        Arimura Sena
      </a>
    </div>
  </div>
</footer>