@if (post) {
<div class="max-w-90% w-4xl mx-auto flex-1">
  <!-- <div class="text-center">
    <h1 class="text-4xl font-bold mb-4 text-main-color">{{ post.title }}</h1>
    <div class="text-gray-400 text-accent-color mb-6 text-size-sm">
      <p>
        创建时间：{{ post.created * 1000 | date : "yyyy-MM-dd" }} 更新时间：{{
          post.modified * 1000 | date : "yyyy-MM-dd"
        }}
      </p>
      <p>
        {{ post.views }} 次阅读 | {{ post.comments }} 条评论 |
        {{ post.likes }} 人喜欢
      </p>
    </div>
  </div> -->
  <div class="post-body" [innerHTML]="renderedContent"></div>
  <span class="block my-8 h-1 border-rounded bg-gray-200 w-25% mx-auto"></span>
  <div
    class="text-size-lg line-height-loose w-85% mx-auto p-2 border-4 border-solid border-white border-l-rose-400"
  >
    <strong> 本文链接：</strong
    ><a [href]="post.url" class="text-gray-400 underline">{{ post.url }}</a
    ><br />
    <strong> 版权声明：</strong><span>本文由作者原创，禁止任何形式转载。</span>
  </div>
</div>
} @else {
<app-loading />
}
