<div class="bg-black/50 backdrop-blur-10 z-3 fixed top-0 left-0 w-full">
  <div
    class="mx-3 h-14 mx-0 px-0 py-3 my-auto flex lg:justify-center items-center flex-1 relative h-full"
  >
    <div
      class="lg:hidden left-0 -translate-x-1 p-2 text-[var(--accent-color)]"
      (click)="toggleMenu()"
    >
      <img
        [src]="
          isMenuOpen
            ? '/assets/hamburger_open.svg'
            : '/assets/hamburger_close.svg'
        "
        class="w-6 h-6"
      />
    </div>

    <a
      [routerLink]="'/'"
      class="no-underline text-7 absolute font-bold space-inline-xs text-[var(--accent-color)] left-1/2 -translate-x-1/2 lg:left-0 lg:-translate-x-1"
    >
      Romi Blog
    </a>

    @if (screenWidth >= 1024 ) { @for (item of navItems; track $index) {
    <a
      [routerLink]="item.link"
      class="no-underline hover:text-white/86 outline-0 border-none flex justify-center px-2 py-2 text-[var(--accent-color)]"
    >
      {{ item.text }}
    </a>
    } }
  </div>
  @if (isMenuOpen) {
  <div
    class="fixed w-screen h-screen mt-0 bg-black/50 z-4"
    (click)="toggleMenu()"
  >
    <div class="w-full grid grid-cols-2 pt-6 text-center">
      @for (item of navItems; track $index) {
      <a
        [routerLink]="item.link"
        class="block no-underline outline-0 border-none hover:text-white/86 py-3 px-4 text-[var(--accent-color)] text-lg"
        (click)="toggleMenu()"
      >
        {{ item.text }}
      </a>
      }
    </div>
  </div>
  }
</div>
