<div [class]="'a-accent-color' + fullBackground ? 'h-screen' : 'min-h-screen'">
  <app-header/>
  <div class="flex-1 bg-text-100 w-full text-bg-100">
    <div [class]="'bg-bg-100 max-h-60vh min-h-350px pt-14 overflow-hidden relative mb-6 ' + headerImageHeight ">
      <div class="brightness-60 absolute left-0 top-0 w-full h-full">
        <img class="object-cover left-0 top-0 w-full h-full" fill [ngSrc]="layoutService.header$().imageUrl"
             alt="Header Image"/>
      </div>
      <div class="absolute left-0 top-3vh w-full h-full flex items-center justify-center">
        <div class="max-w-85% text-center text-primary-200">
          <h1 class="text-6 sm:text-7 md:text-8 font-bold font-sans font-350 break-words m-0 mb-4 line-height-relaxed">
            {{ layoutService.header$().title }}
          </h1>
          <div class="text-4 md:text-5">
            @for (item of layoutService.header$().subTitle; track $index) {
              <div class="font-sans">{{ item }}</div>
            }
          </div>
          <ng-content select="[background]"></ng-content>
        </div>
      </div>
    </div>
    @if (!fullBackground) {
      <div class="max-w-[1200px] mx-auto px-4 min-h-60vh">
        @if (isLoading) {
          <div class="skeleton-container">
            <div class="skeleton-line w-60% h-8"></div>
            <div class="skeleton-line w-80% h-6 mt-4"></div>
            <div class="skeleton-line w-70% h-6 mt-2"></div>
          </div>
        } @else {
          <ng-content select="[main]"></ng-content>
        }
      </div>
    }
  </div>
  @if (!disabledFooter) {
    <app-footer/>
  }
  @if (!fullBackground) {
    @if (showBackTop) {
      <button (click)="scrollToTop()"
              class="fixed right-3 lg:right-12 bottom-36 w-10 h-10 bg-primary-200 text-bg-100 rounded-md flex items-center justify-center hover:cursor-pointer hover:bg-primary-100 transition-colors border-0">
        <i class="i-mdi-arrow-up-thick text-xl"></i>
      </button>
    }
    <button [routerLink]="['/admin']"
            class="fixed right-3 lg:right-12 bottom-24 w-10 h-10 bg-primary-200 text-bg-100 rounded-md flex items-center justify-center hover:cursor-pointer hover:bg-primary-100 transition-colors border-0">
      <i class="i-mdi-settings-outline text-xl"></i>
    </button>
    <button (click)="togglePlayer(false)"
            class="fixed right-3 lg:right-12 bottom-12 w-10 h-10 bg-primary-200 text-bg-100 rounded-md flex items-center justify-center hover:cursor-pointer hover:bg-primary-100 transition-colors border-0">
      <i class="i-mdi-music-note-outline text-xl"></i>
    </button>
  }
</div>
<div id="aplayer-global"></div>