<div class="h-full">
  <app-header />
  <div class="flex-1 bg-white w-full">
    <div class="bg-dark min-h-30vh pt-14 overflow-hidden relative mb-6">
      <div class="brightness-60 absolute left-0 top-0 w-full h-full">
        <img
          class="object-cover left-0 top-0 w-full h-full"
          src="https://api.hotaru.icu/ial/background?id=2"
          alt="Background Image"
        />
      </div>
    </div>
    <div class="text-center font-fold text-gray-700 mb-4">
      当前博客正在逐步重构中，观察进度可前往
      <a
        class="text-blue-500 hover:text-blue-700"
        target="_blank"
        href="https://github.com/biyuehu/romichan"
        >biyuehu/romichan</a
      >，旧博客：<a
        class="text-blue-500 hover:text-blue-700"
        target="_blank"
        href="https://old.hotaru.icu"
        >old.hotaru.icu</a
      >
    </div>
    <router-outlet />
  </div>
  <app-footer />
</div>
