/* Global */

:root {
  --primary-100: #d87cb6;
  --primary-200: #e094c5;
  --primary-300: #e7acb4;
  --accent-100: #9573a2;
  --accent-200: #b4a0b1;
  --accent-300: #c3b9c1;
  --text-100: #ffffff;
  --text-200: #fafafa;
  --text-300: #f7f7f7;
  --bg-100: #1a1a1a;
  --bg-200: #292929;
  --bg-300: #404040;
  scrollbar-color: var(--primary-100) var(--accent-100);
  scrollbar-width: thin;
}

::selection {
  background-color: var(--accent-300);
}

a {
  color: var(--primary-100);
  text-decoration: none;
}

a:hover {
  color: var(--accent-100);
}

/* Markdown */

.post-body {
  background-color: var(--text-200);
  font-family: sans-serif;
  font-size: 0.95rem;
  line-height: 1.75;
  margin-inline: auto;
  word-wrap: break-word;
  scrollbar-color: var(--bg-300) var(--text-300);

  h1,
  h2,
  h3,
  h4,
  h5,
  h6 {
    font-weight: bold;
    margin-top: 24px;
    margin-bottom: 12px;
    line-height: 1.3;
  }

  * {
    max-width: 100%;
  }

  table {
    margin: 1rem auto;
    max-width: 100%;
    border-collapse: collapse;
    overflow-x: auto;
    display: block;
  }

  table-wrapper {
    overflow-x: auto;
  }

  th,
  td {
    padding: 8px 12px;
    border: 1px solid var(--bg-300);
    text-align: left;
  }

  th {
    background-color: var(--text-300);
    font-weight: bold;
  }

  tr:nth-child(even) {
    background-color: var(--text-300);
  }

  ul,
  ol {
    padding-left: 20px;
    margin-top: 10px;
    margin-bottom: 10px;
  }

  li {
    margin-bottom: 8px;
  }

  ul li::before {
    margin-right: 8px;
  }

  ol {
    list-style-type: decimal;
  }

  ol li {
    padding-left: 5px;
  }

  blockquote {
    padding: 0.25rem 1rem 0.25rem 0;
    margin: 1rem auto;
    width: 98%;
    border-left: 4px solid var(--bg-300);
    padding-left: 16px;
    background-color: var(--text-300);
  }

  pre {
    border-radius: 8px;
    border: 1px solid var(--bg-300);
    background-color: var(--text-200) !important;
    padding: 0.5em;
    overflow-x: auto;
    /* white-space: pre-wrap; */
    width: 98%;
    margin: 1rem auto;
  }

  a {
    color: var(--bg-300);
    text-decoration: underline;
  }

  a:hover {
    color: var(--bg-100);
    text-decoration: underline;
  }

  img,
  .romi-img,
  svg,
  video {
    border-radius: 8px;
    max-width: 90%;
    margin: 1.2rem auto;
    max-height: 400px;
    display: block;
  }

  hr {
    border: 0;
    border-top: 1px solid var(--text-300);
    margin: 24px 0;
  }
}
