<div class="bg-cover bg-no-repeat relative text-center bg-text-200 text-bg-200 mt-5 py-5 w-full font-300 m-auto">
  <div
    class="max-w-80% w-5xl flex justify-between flex-wrap md:flex-nowrap m-auto children:max-w-full children:w-5xl children:mx-0 children:pt-1 children:pb-4 children:children:mt-2 ">
    <div class="text-left">
      <p>© 2019 - 2025 Romi Blog</p>
      <p>感谢陪伴：{{ currentTime }}</p>
      @if (data) {
      <p>
        <a [routerLink]="'/hitokoto/' + data.id">{{
          data.msg
          }}</a>
      </p>
      }
    </div>
    <div class="text-right">
      <p>
        Made with ❤️ by
        <a class="text-blue-500 hover:text-blue-700" target=" _blank" class="" href="https://github.com/biyuehu">Arimura
          Sena</a>
      </p>
      <p>
        @for (item of footerItems; track $index) {
        <a [routerLink]="item.link">{{ item.text }}</a>
        @if ($index !== footerItems.length - 1) { • } }
      </p>
    </div>
  </div>
</div>