@if (post) {
<div class="max-w-98% w-4xl mx-auto flex-1">
  <div class="post-body mt-2 p-5 rounded-xl hover:shadow-sm" [innerHTML]="renderedContent"></div>
  <div class="w-35% mx-auto my-8">
    <r-divider thickness="1"></r-divider>
  </div>

  <div
    class="text-size-lg line-height-loose w-85% mx-auto p-2 border-4 border-solid border-text-100 border-l-primary-100 bg-text-300">
    <strong> 本文链接：</strong><a [href]="post.url" class="text-bg-300 underline">{{ post.url }}</a><br />
    <strong> 版权声明：</strong><span>本文由作者原创，禁止任何形式转载。</span>
  </div>

  <div class="w-85% mx-auto line-height-loose mt-5">
    <r-divider class="mx-auto"></r-divider>
    <div class="flex my-4 gap-4">
      @for (item of
      post.categories; track $index) {
      <div class="hover:cursor-pointer">
        <r-tag [routerLink]="['/category', item]">
          {{ item }}
        </r-tag>
      </div>
      }
      @for (item of post.tags; track $index) {
      <div class="hover:cursor-pointer">
        <r-tag [routerLink]="['/tag', item[0]]" [type]="item[1]">
          #{{ item[0] }}
        </r-tag>
      </div>
      }
    </div>
    <r-divider class="mx-auto"></r-divider>
  </div>

  <div class="w-85% mx-auto flex gap-4 mt-6">
    <r-button size="lg">
      点个赞
    </r-button>
    <r-button size="lg" type="success">
      赏杯咖啡
    </r-button>
    <r-button size="lg" type="warning">
      分享到...
    </r-button>
    <!-- <div class="flex gap-4">
      @for (item of ['like',"wechat", "bilibili", "link",]; track $index) {
      <div class="w-9 h-9 rounded-full bg-text-200 hover:bg-text-200 flex transition-colors">
        <img [src]="['/assets/', item, '.svg'].join('')" />
      </div>
      }
    </div> -->
  </div>

  <div class="grid grid-cols-1 md:grid-cols-2 gap-4 mt-7">
    @for (post of relatedPosts; track $index) {
    <a [href]="post.url" class="group p-4 bg-text-300 hover:bg-text-200 rounded-lg transition-colors">
      <div [class]="
          [
            'flex items-center gap-2 text-gray-500 mb-2 justify-end',
            post.type === 'prev' ? '' : 'justify-end'
          ].join(' ')
        ">
        <span> @if (post.type === 'prev' ) { 上一篇 } @else { 下一篇 } </span>
      </div>
      <div [class]="
          [
            'text-lg text-primary-200 hover:text-primary-100 line-clamp-1 transition-colors',
            post.type === 'prev' ? '' : 'text-right'
          ].join(' ')
        ">
        {{ post.title }}
      </div>
    </a>
    }
  </div>

  <div class="mt-8 mb-6">
    <h3 class="text-2xl font-bold mb-6 flex items-center gap-2">评论区</h3>

    <div class="mb-8">
      <r-input as="textarea" class="text-lg" rows="4" [(ngModel)]="commentText" placeholder="写下你的想法..."></r-input>
      <div class="flex flex-wrap justify-end mt-4 gap-4 flex-auto children:text-lg">
        <r-button (click)="addComment()" type="primary">发表评论</r-button>
      </div>
    </div>

    <h3 class="text-2xl font-bold mb-8 flex items-center gap-2">
      共 {{ post.commentsList.length }} 条评论
    </h3>

    @if (post.commentsList.length > 0) {
    <div class="space-y-6 mb-6">
      @for (comment of post.commentsList; track $index) {
      <div class="flex gap-4">
        <img [src]="comment.author.avatar" alt="avatar"
          class="w-10 h-10 rounded-full bg-text-200 flex-shrink-0 overflow-hidden" />
        <div class="flex-1">
          <div class="flex items-center gap-2">
            <span class="font-medium">{{ comment.author.username }}</span>
            <span class="text-gray-400 text-sm">{{
              comment.created | date : "yyyy-MM-dd HH:mm"
              }}</span>
          </div>
          <p class="mt-2 text-gray-700">{{ comment.text }}</p>

          <div class="mt-2 flex gap-4">
            <div class="text-gray-400 hover:text-gray-600 text-sm flex items-center gap-1">
              回复
            </div>
          </div>
        </div>
      </div>
      }
    </div>
    }
  </div>
</div>
} @else {
<app-loading />
}